<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{242,178}</string>
                <key>spriteSourceSize</key>
                <string>{242,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{238,166}</string>
                <key>spriteSourceSize</key>
                <string>{242,198}</string>
                <key>textureRect</key>
                <string>{{1,351},{238,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{241,168}</string>
                <key>spriteSourceSize</key>
                <string>{241,198}</string>
                <key>textureRect</key>
                <string>{{1,181},{241,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{227,188}</string>
                <key>spriteSourceSize</key>
                <string>{241,198}</string>
                <key>textureRect</key>
                <string>{{1,519},{227,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,198}</string>
                <key>spriteSourceSize</key>
                <string>{241,198}</string>
                <key>textureRect</key>
                <string>{{1,709},{147,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{161,192}</string>
                <key>spriteSourceSize</key>
                <string>{241,198}</string>
                <key>textureRect</key>
                <string>{{1,858},{161,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runs.png</string>
            <key>size</key>
            <string>{244,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3f495da7344dd6c1391cb9232aeeb7:cad8e737b149d9d2ff8330b6d2c5a743:5e5666b4ff6369ae540b0e5109ddbd16$</string>
            <key>textureFileName</key>
            <string>runs.png</string>
        </dict>
    </dict>
</plist>
