<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runIn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{213,132}</string>
                <key>spriteSourceSize</key>
                <string>{213,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{213,124}</string>
                <key>spriteSourceSize</key>
                <string>{213,146}</string>
                <key>textureRect</key>
                <string>{{1,135},{213,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{213,124}</string>
                <key>spriteSourceSize</key>
                <string>{213,146}</string>
                <key>textureRect</key>
                <string>{{1,261},{213,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>runIn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{205,140}</string>
                <key>spriteSourceSize</key>
                <string>{213,146}</string>
                <key>textureRect</key>
                <string>{{127,308},{205,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,146}</string>
                <key>spriteSourceSize</key>
                <string>{213,146}</string>
                <key>textureRect</key>
                <string>{{216,1},{145,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{157,142}</string>
                <key>spriteSourceSize</key>
                <string>{213,146}</string>
                <key>textureRect</key>
                <string>{{216,149},{157,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runsIn.png</string>
            <key>size</key>
            <string>{362,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2fe55f84b27f623dea25d6cb9784547:ce18a8b8cb2b0576216daef9b5a2dfba:47487455fdf13fdee07fcc90a697cb89$</string>
            <key>textureFileName</key>
            <string>runsIn.png</string>
        </dict>
    </dict>
</plist>
