<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{1,379},{80,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sword3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{1,461},{76,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sword4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{1,286},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{1,96},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{1,191},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swords.png</string>
            <key>size</key>
            <string>{92,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b33480bef37b889aee1e345ae4d53ba8:e68fecbdcc9bbd7f04ab52a9caba7b17:f5b0b1a2bbf4086059928a8b84e14067$</string>
            <key>textureFileName</key>
            <string>swords.png</string>
        </dict>
    </dict>
</plist>
