<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runIn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{180,132}</string>
                <key>spriteSourceSize</key>
                <string>{180,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{180,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,146}</string>
                <key>textureRect</key>
                <string>{{1,135},{180,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{180,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,146}</string>
                <key>textureRect</key>
                <string>{{183,143},{180,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{172,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,146}</string>
                <key>textureRect</key>
                <string>{{183,1},{172,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runIn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,146}</string>
                <key>spriteSourceSize</key>
                <string>{180,146}</string>
                <key>textureRect</key>
                <string>{{357,1},{112,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>runIn6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,146}</string>
                <key>textureRect</key>
                <string>{{365,115},{124,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runsIn.png</string>
            <key>size</key>
            <string>{504,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f672af6b6a7ff6bda35f3fa47c32e25d:63b7b543213ce98d55254c06616e827d:47487455fdf13fdee07fcc90a697cb89$</string>
            <key>textureFileName</key>
            <string>runsIn.png</string>
        </dict>
    </dict>
</plist>
